.popup__main-frame {
    transition: 1s, ease;
    position: relative;
    border-radius: 2%;
    box-sizing: border-box;
    width: 100%;
    max-width: 430px;
    background-color: white;
    display: flex;
    padding: 34px 36px 37px;
    flex-direction: column;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width:600px) {
    .popup__main-frame {
        max-width: 282px;
        padding: 25px 22px;
    }
}