.popup__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:600px) {
    .popup__form {
        max-width: 282px;
        padding: 25px 22px;
    }
}